<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- End layout styles -->
    <!--Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <script>
      // Get flashed messages from Flask and pass to JavaScript
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          const banner_alert = "{{ messages[0] }}";  // Assign first flashed message to JS variable
        {% endif %}
      {% endwith %}
    </script>
      <div class="container-scroller">
        <div class="row p-0 m-0 proBanner" id="proBanner">
        </div>
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="preshnam row w-100">
            <div class="image-container">
              <img src="../static/assets/images/eye.png" alt="Eye Image">
              <span class="blink-text">Argus IoT Sentinel</span>
            </div>
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
              <div class="card col-lg-4 mx-auto login-card">
                <div class="card-body px-5 py-5">
                  <h3 class="card-title text-start mb-3">Login</h3>
                  <form action="/login", method="POST">
                    <div class="form-group">
                      <label>Username *</label>
                      <input type="text" class="form-control p_input" name="username" required>
                    </div>
                    <div class="form-group">
                      <label>Password *</label>
                      <input type="password" class="form-control p_input" name="password" required>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between">
                      <a href="/register" class="forgot-pass">Register New Account</a>
                    </div>
                    <div class="text-center d-grid gap-2">
                      <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
          </div>
          <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
   <!-- plugins:js -->
   <script src="../static/assets/vendors/js/vendor.bundle.base.js"></script>
   <!-- endinject -->
   <!-- Plugin js for this page -->
   <script src="../static/assets/vendors/chart.js/chart.umd.js"></script>
   <script src="../static/js/jquery.cookie.js" type="text/javascript"></script>
   <!-- End plugin js for this page -->
   <script src="../static/js/misc.js"></script>
   <script src="../static/js/off-canvas.js"></script>

  </body>
  </html>